.home-background-paralax {
    /* Parallax */
    background-image: url('../../img/user/home-background.jpg');
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.letter-spacing-8 {
    letter-spacing: 8px;
}

.home-button {
    cursor: pointer;
    margin-top: 100px;
    color: white;
    padding: 10px 25px;
    border: solid 1px white;
    text-decoration: none;
    transition: all .3s;
}

.home-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.word-spacing-2 {
    word-spacing: 2px;
}

.line-break {
    margin: 34px 0;
    height: 1px;
    width: 89px;
    background-color: rgb(117, 111, 99) ;
}

.special-offer-left > h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .2em;
}

.special-offer-left > p {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    font-size: 15px;
}

.special-offer-link {
    font-size: 14px;
    text-decoration: none;
    margin-top: 100px;
}

.special-offer-link:hover {
    color: rgb(117, 111, 99);
}

.outer-circle {
    position: absolute;
    top: 25px;
    left: 125px;
    width: 110px;
    height: 110px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    background-color: rgb(191, 167, 96);
    transition: all .3s;
}

.special-offer-right {
    cursor: pointer;
}

.inner-circle {
    width: 100px;
    height: 100px;
    border: solid 1px white;
}

.quick-view {
    transform: translateY(100%);
    transition: all .3s ease-in-out;
}   

.quick-view > a {
    text-decoration: none;
}   

.special-offer-right:hover .quick-view {
    transform: translateY(0);
}   

.special-offer-right:hover .quick-view > a {
    color: rgb(117, 111, 99);;
}   

.video-parallax-container {
    height: 600px;
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
    min-height: 100%;
    overflow: hidden;
}

.video-parallax-container video {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: -9999;
}

.about-container {
    padding: 100px 0;
}

.about-wrapper {
    justify-content: space-between;
}

.about-content {
    width: 450px;
}

.about-content h2 {
    color: #756f63;
    font-weight: 400;
    margin-bottom: 15px;
}

.about-content h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    font-size: 15px;
    letter-spacing: .4em;
    color: #756f63;
    margin-bottom: 35px;
}

.about-content .divider {
    width: 90px;
    border-top: 1px solid #ada9a0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.about-content .about-description p {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    text-align: center;
    font-size: 15px;
    color: #756f63;
}

.quotes-container {
    background: url('../../img/user/quote_background.jpg');
    background-position: center;
    position: relative;
    z-index: -3;
}

.overlay {
    background-color: #000;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
    z-index: -1;
    top: 0;
    left: 0;
}

.quotes-wrapper {
    padding: 200px;
    color: #fff;
}

.quotes-wrapper h2 {
    letter-spacing: .05em;
    font-weight: 400;
}

.quotes-wrapper p {
    font-family: Quicksand, sans-serif;
    letter-spacing: .1em;
}

.cacao-quality {
    padding: 100px 0;
}

.cacao-quality-left {
    width: 600px;
}

.cacao-quality-left h2 {
    color: #756f63;
    font-weight: 400;
    margin-bottom: 15px;
}

.cacao-quality-left > h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    font-size: 15px;
    letter-spacing: .4em;
    color: #756f63;
    margin-bottom: 35px;
}

.cacao-quality-left .divider {
    width: 90px;
    border-top: 1px solid #ada9a0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.cacao-quality-left > p {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    font-size: 15px;
}

.cacao-image-container {
    height: 500px;
}

.cacao-image-container img {
    height: 100%;
}

@media (max-width: 1400px) {
    .cacao-image-container .cacao-image-2 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .special-offer {
        flex-direction: column-reverse;
    }

    .special-offer-right > img {
        width: 400px;
    }

    .outer-circle {
        top: -25px;
        left: 325px;
    }
    
    .about-container img {
        width: 300px;
        height: auto;
    }

    .cacao-quality-left {
        width: 500px;
    }
}

@media (max-width: 992px) {
    .video-parallax-container video {
        width: auto;
        max-width: none;
        height: 600px;
    }

    .home-text {
        font-size: 14px;
    }

    .special-offer-right > img {
        width: 300px;
    }

    .outer-circle {
        top: -50px;
        left: 210px;
    }

    .about-container {
        justify-content: center;
    }

    .about-wrapper {
        justify-content: center;
    }
    
    .about-container img {
        width: 200px;
        height: auto;
        margin-bottom: 50px;
    }

    .quotes-wrapper {
        padding: 200px 20px;
    }

    .cacao-quality-container {
        justify-content: center !important;
    }
}

@media (max-width: 768px) {
    .outer-circle {
        top: -50px;
        left: 125px;
    }

    .about-content {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .outer-circle {
        top: -50px;
        left: 15%;
    }
}