.shop-chocolates-container {
    cursor: pointer;
}

.shop-chocolate-box {
    width: 326px;
}

.shop-chocolate-box-title {
    width: 100px;
}

.quick-view-box {
    position: absolute;
    top: 185px;
    z-index: 2;
}

.shop-chocobox-photo {
    z-index: 1;
    transition: .3s ease-in-out;
}

.shop-choco-photo {
    position: absolute;
    z-index: 0;
}

.quick-view {
    transform: translateY(100%);
    transition: all .3s ease-in-out;
}

.quick-view > a {
    text-decoration: none;
}

.shop-chocolate-box:hover .quick-view {
    transform: translateY(0);
}

.shop-chocolate-box:hover .quick-view > a {
    color: rgb(191, 167, 96);
}

.shop-chocolate-box:hover .shop-chocobox-photo {
    opacity: 0;
}


.font-size-13 {
    font-size: 13px;
}
