@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial,Helvetica,sans-serif;
    overflow: auto;
}

body.show {
    overflow: hidden;
}

h2 {
    font-family: cinzel, serif;
}

/*===========================*/
/* Coloring */

.main-text-color {
    color: #4E4A42;
}

.main-background-color {
    background-color: #4E4A42;
}

.secondary-text-color {
    color: rgb(191, 167, 96);
}

.secondary-background-color {
    background-color: rgb(191, 167, 96);
}

.black-substitute-text-color {
    color: rgb(117, 111, 99);
}

.black-substitute-background-color {
    color: rgb(117, 111, 99);
}

.z-index-3 {
    z-index: 3;
}

/* end Coloring */
/*===========================*/


/*===========================*/
/* Font */
.font-serif {
    font-family: serif;
}

.font-Quicksand {
    font-family: Quicksand;
}
/* end Font */
/*===========================*/
