.contact-footer {
    background: #d9d5ca;
    padding: 80px 10px;
    color: #756f63;
}

.contact-footer-header {
    text-transform: uppercase;
    margin: 20px 0;
}

.contact-footer-header h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: normal;
}

.contact-footer .divider {
    width: 90px;
    border-top: 1px solid #ada9a0;
    margin-left: auto;
    margin-right: auto;
}

.contact-footer-body {
    width: 542px;
    margin: 30px auto 50px auto;
}

.contact-footer-body p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 2.2em;
    font-size: 15px;
    font-weight: 400;
    color: #756f63;
    margin: 0;
}

.contact-footer-body p span {
    letter-spacing: 2px;
}

.subscribe-footer {
    padding: 50px;
    background: #4e4a42;
}

.subscribe-footer-header h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #ada9a0;
    margin: 0;
}

.subscribe-footer-form {
    padding: 40px 0;
}

.subscribe-footer-form-content {
    height: 46px;
}

.subscribe-footer-form input {
    padding: 10px 25px;
    background: #4e4a42;
    border: 1px solid #ada9a0;
    width: 277px;
    margin-right: 20px;
    color: #ada9a0;
    max-height: 100%;
}

.subscribe-footer-form input:hover {
    border-width: 3px;
}

.subscribe-footer-form input:focus {
    outline: none;
    border-width: 3px;
}

.subscribe-footer-form button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #272521;
    border: 1px solid #ada9a0;
    color: #fff;
    padding: 0 20px;
    transition: .5s all ease;
}

.subscribe-footer-form button:hover {
    background-color: #4e4a42;
}

@media (max-width: 768px) {
    .contact-footer-body p {
        font-size: 12px;
    }

    .subscribe-footer-form input {
        width: 100%;
        margin: 0;
    }

    .subscribe-footer-form button {
        width: 100%;
        margin-top: 20px;
        padding: 10px 0;
    }

    .contact-footer-body {
        width: 100%;
    }
}