/*===========================*/
/* Header */

.navbar-logo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-logo:hover {
    color: rgb(191, 167, 96);
}

.list {
    margin: 0;
}

.list > li {
    list-style-type: none;
    cursor: pointer;
    letter-spacing: 0.31px;
    transition: all 0.5s;
}

.list > li > a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
}

.list > li > a:hover {
    color: rgb(191, 167, 96);
}

.list li a.active {
    color: rgb(191, 167, 96);
}

.navbar-right-items > svg {
    margin: 10px;
}

.navbar-cart {
    cursor: pointer;
}

.navbar-cart > svg > text {
    fill: white;
    font-size: 55px;
}

.navbar-cart > svg {
    transition: all 0.1s;
}

.navbar-cart > svg:hover {
   transform: scale(1.1);
}

.navbar-login {
    cursor: pointer;
}

.navbar-login > svg {
    transition: all 0.1s;
}

.navbar-login:hover svg {
    transform: scale(1.1);
}

.navbar-login > span {
    font-size: 14px;
}
/* Header */
/*===========================*/

.hamburger-navbar i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.close-navbar-mobile {
    padding: 10px;
}

.close-navbar-mobile i {
    font-size: 20px;
    cursor: pointer;
}

.navbar-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: visible;
    padding: 30px 20px 30px 60px;
    background-color: #fff;
    overflow: auto;
    transition: .3s ease-in-out;
}

.overlay-navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    transition: .3s ease-in-out;
}

.button-dropdown {
    background: transparent;
    border: none;
}

.button-dropdown > span {
    font-size: 14px;
}

.dropdown-menu-profile {
    margin-top: 15px !important;
    cursor: default;
    border: none;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .14);
}

.dropdown-item {
    color: rgb(117, 111, 99);
}

@media (max-width: 992px) {
    .navbar-mobile.show {
        opacity: 1;
        left: 0;
    }

    .list li a {
        color: rgb(117, 111, 99);
        padding: 0;
        line-height: 70px;
        font-size: 20px;
        display: block;
    }

    .list li a.active {
        color: rgb(191, 167, 96);
    }

    .navbar-login > svg {
        width: 30px;
        height: 30px;
    }

    .navbar-login > span {
        font-size: 16px;
    }

    .navbar-template {
        display: none;
    }

    .overlay-navbar-mobile.show {
        opacity: 1;
        visibility: visible;
    }
}
